# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
!pip install -U scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.21.6)

In [3]:
# import numpy and pandas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline 

import numpy as np
pd.set_option('display.max_columns', 25)

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [4]:
# Your code here:
salaries = pd.read_csv('Salaries.csv')

C:\Users\Dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [6]:
# Your code here:
print(salaries.isna().sum())

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [7]:
# Your code here
salaries.shape

(148654, 13)

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [9]:
# Your code here
salaries = salaries.drop(columns=["Notes"])


missing_values = salaries.isna().sum()


print(missing_values)

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [11]:
# Your code here
status_values = salaries["Status"].unique()


status_values

array([nan, 'PT', 'FT'], dtype=object)

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [12]:
# Your code here
salaries = salaries.dropna(subset=["Status"])

# count the missing values in each column again
missing_values = salaries.isna().sum()

# print the results
print(missing_values)

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

In [10]:
# Your code here

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [13]:
# Your code here
salaries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [15]:
# Your code here
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Do any type conversions and reset the index.

In [16]:
# Your code here
salaries["BasePay"] = pd.to_numeric(salaries["BasePay"], errors="coerce")
salaries["OvertimePay"] = pd.to_numeric(salaries["OvertimePay"], errors="coerce")
salaries["OtherPay"] = pd.to_numeric(salaries["OtherPay"], errors="coerce")
salaries["Benefits"] = pd.to_numeric(salaries["Benefits"], errors="coerce")

# reset the index
salaries = salaries.reset_index(drop=True)

# print the updated dataframe info
print(salaries.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38119 entries, 0 to 38118
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  float64
 4   OvertimePay       38119 non-null  float64
 5   OtherPay          38119 non-null  float64
 6   Benefits          38119 non-null  float64
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 3.5+ MB
None

In [17]:
# Your code here
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [18]:

# Your code here
result = (salaries["TotalPayBenefits"] == 
          salaries["BasePay"] + 
          salaries["OvertimePay"] + 
          salaries["OtherPay"] + 
          salaries["Benefits"])

# print the result
print(result)

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118     True
Length: 38119, dtype: bool

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118     True
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [20]:
# Your code here:
percentage = result.value_counts(normalize=True) * 100


print(percentage)

True     73.708649
False    26.291351
dtype: float64

True     73.708649
False    26.291351
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [21]:
# Your code here:
department_counts = salaries.groupby("JobTitle").size()

department_df = department_counts.to_frame(name="Employees")

# print the result
department_df

                                Employees
JobTitle
ACPO,JuvP, Juv Prob (SFERS)             1
ASR Senior Office Specialist           22
ASR-Office Assistant                   15
Account Clerk                          93
Accountant I                            2
...                                   ...
Wire Rope Cable Maint Sprv              1
Worker's Comp Supervisor 1              6
Worker's Compensation Adjuster         26
X-Ray Laboratory Aide                  35
Youth Comm Advisor                      1

[996 rows x 1 columns]

                                Employees
JobTitle
ACPO,JuvP, Juv Prob (SFERS)             1
ASR Senior Office Specialist           22
ASR-Office Assistant                   15
Account Clerk                          93
Accountant I                            2
...                                   ...
Wire Rope Cable Maint Sprv              1
Worker's Comp Supervisor 1              6
Worker's Compensation Adjuster         26
X-Ray Laboratory Aide                  35
Youth Comm Advisor                      1

[996 rows x 1 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [22]:
# Your code here: (compute the "Hourly_Wage")
salaries['Hourly_Wage'] = salaries['TotalPayBenefits'] / (50 * 40)

In [23]:
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000
38115,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000
38116,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000
38117,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000
38118,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT,-0.309065

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

In [24]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)
ft_employees = salaries[salaries['Status'] == 'FT']


mean_hourly_wage = ft_employees['Hourly_Wage'].mean()

print("Mean hourly wage for FT employees: ", mean_hourly_wage)

Mean hourly wage for FT employees:  69.264206407271

69.264206407271

In [25]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees
from scipy.stats import ttest_1samp

# Compute the mean and standard deviation of the hourly wage for FT employees
mean_ft_hourly_wage = salaries.loc[salaries['Status'] == 'FT', 'Hourly_Wage'].mean()
std_ft_hourly_wage = salaries.loc[salaries['Status'] == 'FT', 'Hourly_Wage'].std()

# Set the null hypothesis
null_hypothesis = 75

# Compute the t-statistic
n_ft_employees = len(salaries.loc[salaries['Status'] == 'FT'])
t_statistic = (mean_ft_hourly_wage - null_hypothesis) / (std_ft_hourly_wage / np.sqrt(n_ft_employees))

print("t-statistic:", t_statistic)

t-statistic: -35.80631941460788

-35.80631941460788

In [26]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 
from scipy.stats import t

crit_value = t.ppf(0.025, n_ft_employees - 1)
crit_value

-1.9600702128845597

In [27]:
# Method 2: Use the p-value method.
# Your code here:
from scipy.stats import ttest_1samp

ft_hourly_wage = salaries[salaries['Status'] == 'FT']['Hourly_Wage']
t_statistic, p_value = ttest_1samp(ft_hourly_wage, 75)

print("p-value:", p_value)

p-value: 4.517831233839447e-273

In [28]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:
from scipy.stats import ttest_1samp

# extract hourly wage of FT employees
ft_hourly_wage = salaries[salaries["Status"] == "FT"]["Hourly_Wage"]

t_statistic, p_value = ttest_1samp(ft_hourly_wage, 75)


print("t-statistic:", t_statistic)

t-statistic: -35.80631941460526

Are all the methods in agreement?

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [29]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees
import scipy.stats as stats

# get all Police jobs
police_salaries = salaries[salaries['JobTitle'].apply(lambda x: 'Police' in x)]['TotalPayBenefits']

# perform one-sample t-test
t_stat, p_value = stats.ttest_1samp(police_salaries, 86000)

# calculate the critical value
n = len(police_salaries)
df = n - 1
alpha = 0.05
crit_value = stats.t.ppf(1 - alpha / 2, df)

In [31]:
t_stat

50.252984742109945

50.252984742109916

In [32]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 
crit_value

1.9612133305737955

In [33]:
# Method 2: Use the p-value method.
# Your code here:
p_value

0.0

In [34]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:
from scipy.stats import ttest_1samp

# subset the data to include only Police jobs
police_data = salaries[salaries['JobTitle'].apply(lambda x: 'Police' in x)]

# calculate the mean total pay and benefits for the police jobs
police_mean = police_data['TotalPayBenefits'].mean()

# set the null hypothesis mean to be $86,000
null_mean = 86000

# calculate the t-statistic and p-value using ttest_1samp
t_stat, p_val = ttest_1samp(police_data['TotalPayBenefits'], null_mean)

print("Police mean:", police_mean)
print("Null hypothesis mean:", null_mean)
print("T-statistic:", t_stat)
print("P-value:", p_val)

Police mean: 148349.04212519721
Null hypothesis mean: 86000
T-statistic: 50.252984742109945
P-value: 0.0

Ttest_1sampResult(statistic=50.252984742109945, pvalue=1.0)

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [35]:
# Your code here: (Get the department which has most employees)
most_common_department = salaries["JobTitle"].value_counts().idxmax()
most_common_department

'Transit Operator'

'Transit Operator'

In [36]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees
from scipy.stats import ttest_1samp

# Filter the Transit Operator employees
transit_op_df = salaries[salaries["JobTitle"] == "Transit Operator"]

# Compute the hourly wage for Transit Operator employees
transit_op_df["Hourly_Wage"] = transit_op_df["TotalPayBenefits"] / (50 * 40)

# Perform the one-sample t-test
t_statistic, p_value = ttest_1samp(transit_op_df["Hourly_Wage"], 35, alternative='less')

print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: 19.064990324906383
p-value: 1.0

C:\Users\Dell\AppData\Local\Temp/ipykernel_5552/3022930654.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transit_op_df["Hourly_Wage"] = transit_op_df["TotalPayBenefits"] / (50 * 40)

19.06499032490655

In [37]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 
n = len(transit_op_df)
from scipy.stats import t

alpha = 0.05
df = n - 1
crit_value = t.ppf(alpha, df)

print("Critical value:", crit_value)

Critical value: -1.6454687772470247

In [38]:
# Method 2: Use the p-value method.
# Your code here:
p_value

1.0

In [39]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:
from scipy.stats import ttest_1samp

# Filter the Transit Operator employees
transit_op_df = salaries[salaries["JobTitle"] == "Transit Operator"]

# Compute the hourly wage for Transit Operator employees
transit_op_df["Hourly_Wage"] = transit_op_df["TotalPayBenefits"] / (50 * 40)

# Perform the one-sample t-test
t_statistic, p_value = ttest_1samp(transit_op_df["Hourly_Wage"], 35, alternative='less')

print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: 19.064990324906383
p-value: 1.0

C:\Users\Dell\AppData\Local\Temp/ipykernel_5552/2496132611.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transit_op_df["Hourly_Wage"] = transit_op_df["TotalPayBenefits"] / (50 * 40)

Ttest_1sampResult(statistic=19.064990324906383, pvalue=5.012771694204206e-76)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [40]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:
from scipy.stats import t

# Compute the hourly wage for all hourly workers
salaries["Hourly_Wage"] = salaries["TotalPayBenefits"] / (50 * 40)

# Compute the sample mean and standard deviation of the hourly wage
mean_hourly_wage = np.mean(salaries["Hourly_Wage"])
std_hourly_wage = np.std(salaries["Hourly_Wage"], ddof=1)

# Compute the critical values
n = len(salaries["Hourly_Wage"])
alpha = 0.05
t_critical = t.ppf(1 - alpha/2, n - 1)

# Compute the margin of error
margin_of_error = t_critical * std_hourly_wage / np.sqrt(n)

# Compute the confidence interval
confidence_interval = (mean_hourly_wage - margin_of_error, mean_hourly_wage + margin_of_error)

print("Sample mean of hourly wage:", mean_hourly_wage)
print("Sample standard deviation of hourly wage:", std_hourly_wage)
print("Margin of error:", margin_of_error)
print("95% Confidence interval of hourly wage:", confidence_interval)

Sample mean of hourly wage: 50.130719334189436
Sample standard deviation of hourly wage: 33.117183216308376
Margin of error: 0.3324639211054209
95% Confidence interval of hourly wage: (49.798255413084014, 50.46318325529486)

Sample mean: 50.13
Confidence interval: [49.80,50.46]

In [ ]:
# Your code here:

Sample mean: 74.17
Confidence interval: [72.96,75.39]

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [42]:
# Your code here: (Create the function)

def get_employee_group(job_title):
    if "Police" in job_title:
        return "Policemen"
    elif "Fire" in job_title:
        return "Firemen"
    elif "Med" in job_title or "Nurse" in job_title:
        return "Medical"
    elif "Attorney" in job_title:
        return "Lawyer"
    else:
        return "Other"

In [43]:
# Your code here: (Apply the function)
salaries["employee_group"] = salaries["JobTitle"].apply(lambda x: get_employee_group(x))
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage,employee_group
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,Other
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,Medical
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,Other
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,Policemen
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,Firemen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000,Other
38115,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000,Other
38116,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000,Other
38117,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000000,Other
38118,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT,-0.309065,Other

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage,employee_group
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,Other
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,Medical
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,Other
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,Policemen
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,Firemen

Determine how many "PT" and "FT" employess have all the employees groups.

In [44]:
# Your code here: (Store the output dataframe into a new variable)
grouped = salaries.pivot_table(index="employee_group", columns="Status", values="EmployeeName", aggfunc="count")

# Rename the columns
grouped.columns = ["FT", "PT"]

# Display the pivot table
grouped

                   FT     PT
employee_group
Firemen          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Status             FT     PT
employee_group
Firemen          1333    178
Lawyers           317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [45]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:
import pandas as pd
import numpy as np

# Creating an empty dataframe to store the data
frequencies = pd.DataFrame(index=salaries.index, columns=salaries.columns)

# Replacing all the NaN values with 0s
frequencies = frequencies.fillna(0)

# Displaying the frequencies dataframe
print(frequencies)

       Id  EmployeeName  JobTitle  BasePay  OvertimePay  OtherPay  Benefits  \
0       0             0         0        0            0         0         0
1       0             0         0        0            0         0         0
2       0             0         0        0            0         0         0
3       0             0         0        0            0         0         0
4       0             0         0        0            0         0         0
...    ..           ...       ...      ...          ...       ...       ...
38114   0             0         0        0            0         0         0
38115   0             0         0        0            0         0         0
38116   0             0         0        0            0         0         0
38117   0             0         0        0            0         0         0
38118   0             0         0        0            0         0         0

       TotalPay  TotalPayBenefits  Year  Agency  Status  Hourly_Wage  \
0             0                 0     0       0       0            0
1             0                 0     0       0       0            0
2             0                 0     0       0       0            0
3             0                 0     0       0       0            0
4             0                 0     0       0       0            0
...         ...               ...   ...     ...     ...          ...
38114         0                 0     0       0       0            0
38115         0                 0     0       0       0            0
38116         0                 0     0       0       0            0
38117         0                 0     0       0       0            0
38118         0                 0     0       0       0            0

       employee_group
0                   0
1                   0
2                   0
3                   0
4                   0
...               ...
38114               0
38115               0
38116               0
38117               0
38118               0

[38119 rows x 14 columns]

In [46]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"
# calculate total number of observations
n = salaries['Status'].count()

# calculate marginal probabilities of employee_group and status
employee_prob = salaries.groupby('employee_group').size() / n
status_prob = salaries.groupby('Status').size() / n

# calculate expected frequency of Firemen and PT
firemen_ft = employee_prob['Firemen'] * status_prob['FT'] * n

firemen_ft

885.2979878800596

885.2979878800596

In [48]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"
# calculate total number of observations
n = salaries['Status'].count()

# calculate marginal probabilities of employee_group and status
employee_prob = salaries.groupby('employee_group').size() / n
status_prob = salaries.groupby('Status').size() / n

# calculate expected frequency of Firemen and PT
firemen_pt = employee_prob['Firemen'] * status_prob['PT'] * n

firemen_pt

625.7020121199403

625.7020121199403

In [49]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"
# calculate total number of observations
n = salaries['Status'].count()

# calculate marginal probabilities of employee_group and status
employee_prob = salaries.groupby('employee_group').size() / n
status_prob = salaries.groupby('Status').size() / n

# calculate expected frequency of Firemen and PT
lawyers_ft = employee_prob['Lawyer'] * status_prob['FT'] * n
lawyers_ft

245.49295626852748

245.49295626852748

In [50]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"
# calculate total number of observations
n = salaries['Status'].count()

# calculate marginal probabilities of employee_group and status
employee_prob = salaries.groupby('employee_group').size() / n
status_prob = salaries.groupby('Status').size() / n

# calculate expected frequency of Firemen and PT
lawyers_pt = employee_prob['Lawyer'] * status_prob['PT'] * n

lawyers_pt

173.5070437314725

173.5070437314725

In [51]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"
# calculate total number of observations
n = salaries['Status'].count()

# calculate marginal probabilities of employee_group and status
employee_prob = salaries.groupby('employee_group').size() / n
status_prob = salaries.groupby('Status').size() / n

# calculate expected frequency of Firemen and PT
medical_ft = employee_prob['Medical'] * status_prob['FT'] * n
medical_ft

2294.9783047823917

2294.9783047823917

In [52]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"
# calculate total number of observations
n = salaries['Status'].count()

# calculate marginal probabilities of employee_group and status
employee_prob = salaries.groupby('employee_group').size() / n
status_prob = salaries.groupby('Status').size() / n

# calculate expected frequency of Firemen and PT
medical_pt = employee_prob['Medical'] * status_prob['PT'] * n
medical_pt

1622.021695217608

1622.021695217608

In [53]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"
n = salaries['Status'].count()

# calculate marginal probabilities of employee_group and status
employee_prob = salaries.groupby('employee_group').size() / n
status_prob = salaries.groupby('Status').size() / n

# calculate expected frequency of Firemen and PT
other_ft = employee_prob['Other'] * status_prob['FT'] * n
other_ft

17794.430966184842

17794.430966184842

In [54]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"
n = salaries['Status'].count()

# calculate marginal probabilities of employee_group and status
employee_prob = salaries.groupby('employee_group').size() / n
status_prob = salaries.groupby('Status').size() / n

# calculate expected frequency of Firemen and PT
other_pt = employee_prob['Other'] * status_prob['PT'] * n
other_pt

12576.569033815158

12576.569033815158

In [55]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"
# calculate total number of observations
n = salaries['Status'].count()

# calculate marginal probabilities of employee_group and status
employee_prob = salaries.groupby('employee_group').size() / n
status_prob = salaries.groupby('Status').size() / n

# calculate expected frequency of Firemen and PT
policemen_ft = employee_prob['Policemen'] * status_prob['FT'] * n
policemen_ft

1113.7997848841785

1113.7997848841785

In [56]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"
n = salaries['Status'].count()

# calculate marginal probabilities of employee_group and status
employee_prob = salaries.groupby('employee_group').size() / n
status_prob = salaries.groupby('Status').size() / n

# calculate expected frequency of Firemen and PT
policemen_pt = employee_prob['Policemen'] * status_prob['PT'] * n
policemen_pt

787.2002151158215

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [57]:
# Your code here:
# Store expected frequencies in lists
ft_frequencies = [firemen_ft, lawyers_ft, medical_ft, other_ft, policemen_ft]
pt_frequencies = [firemen_pt, lawyers_pt, medical_pt, other_pt, policemen_pt]

# Create dictionary
frequencies_dict = {"FT": ft_frequencies, "PT": pt_frequencies}

# Create dataframe
frequencies_df = pd.DataFrame(frequencies_dict, index=["Firemen", "Lawyers", "Medical", "Other", "Policemen"])

In [58]:
frequencies_df

                     FT            PT
Firemen      885.297988    625.702012
Lawyers      245.492956    173.507044
Medical     2294.978305   1622.021695
Other      17794.430966  12576.569034
Policemen   1113.799785    787.200215

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [ ]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [59]:
from scipy.stats import chi2_contingency

frequencies_df = pd.DataFrame({
    "FT": [885.297988, 245.492956, 2294.978305, 17794.430966, 1113.799785],
    "PT": [625.702012, 173.507044, 1622.021695, 12576.569034, 787.200215],
}, index=["Firemen", "Lawyers", "Medical", "Other", "Policemen"])

chi2_stat, p_val, dof, expected_freq = chi2_contingency(frequencies_df)

print("Chi2 value: ", chi2_stat)
print("p-value: ", p_val)
print("Expected frequencies:\n", expected_freq)

Chi2 value:  8.320988478822354e-16
p-value:  1.0
Expected frequencies:
 [[  885.29798788   625.70201212]
 [  245.49295627   173.50704373]
 [ 2294.97830478  1622.02169522]
 [17794.43096618 12576.56903382]
 [ 1113.79978488   787.20021512]]

(2676.642333711905, 0.0, 4, array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [ 2294.97830478,  1622.02169522],
        [17794.43096618, 12576.56903382],
        [ 1113.79978488,   787.20021512]]))

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function